.main {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    /*border-bottom: 1px solid grey;*/
}
.block_edu{
    margin-bottom: 20px;
    margin-left: 40px;
}
p{
    font-weight: lighter;
    margin-left: 30px;
}

.title{
    background-color: cornflowerblue;
    color: aliceblue;
    padding: 5px;
}

ul li{
    list-style: none;
    font-size: 20px;
    margin-left: 20px;
}
button{
    padding: 10px;
    background-color: cornflowerblue;
    transition: .4s;
    color: aliceblue;
    font-size: 20px;
    border: none;
}